.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s;
        z-index: 7;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary-dark;
            transform: scale(1.05) translateY(-1rem);
            box-shadow: 0 2.5rem 6rem rgba($color-black, .2);
            z-index: 19;
            
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
}